/* 通用樣式 */


.d-flex {
  display: flex;

}
.d-block{
  display: block;
}
.d-none{
  display: none;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

@media(max-width: 767px){
 .d-block-m{
  display: block;
}
 .d-none-m{
  display: none;
}
.d-flex-m{
  display: flex;
}
.flex-wrap-m{
  flex-wrap: wrap;
}
}

@media(max-width: 576px){
 .d-block-s{
  display: block;
}
 .d-none-s{
  display: none;
}

}

/* 格線 */
.col {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12);
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*2);

}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*3);
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*4);
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*5);
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*6);
}

.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*7);
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*8);
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*9);
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*10);
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100%/12*11);
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

@media(max-width: 767px){
   .row-m{
    margin-right: -6px;
    margin-left: -6px;
   }   
    .col-m{
    padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4);
}
    .col-2-m{
    padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*2);
    
}
.col-3-m{
   padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*3);
}
.col-4-m{
  padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*4);
}
}
/* 段落 */
.h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.h2 {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h3 {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4 {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5 {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h6 {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
@media(max-width: 767px){
  .h3-m{
    font-size: 28px;}
    .h4-m{
    font-size: 24px;}
     .h5-m{
    font-size: 20px;}
     .h6-m{
    font-size: 16px;}
    
}

@media(max-width: 576px){
  .h3-s{
    font-size: 28px;}
    .h4-s{
    font-size: 24px;}
     .h5-s{
    font-size: 20px;}
     .h6-s{
    font-size: 16px;}
    
}

/* 文字 */
.text-sm {
  font-size: 14px;
  font-weight: 400;
}

.text-white {
  color: var(--Neutral-0);
}

.text-n600 {
  color: var(--Neutral-600);
}

.text-p400 {
  color: var(--Primary-400);
}

.bg-p100 {
  background-color: var(--Primary-100);
}

.bg-n100 {
  background-color: var(--Neutral-100);
}
/* 內推 */
.pb-48 {
  padding-bottom: 48px;
}

.pb-8 {
  padding-bottom: 8px;
}

.py-64 {
  padding: 64px 0;
}

.py-48 {
  padding: 48px 0;
}

.py-32 {
  padding: 32px 0;
}
.pt-32{
  padding-top: 32px;
}

.py-12 {
  padding: 12px 0;
}

.py-8 {
  padding: 8px 0;
}

.pr-24 {
  padding-right: 24px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-24 {
  padding-left: 24px;
}
@media(max-width: 767px){
   .py-32-m{
    padding: 32px 0;
   }
   .pb-32-m{
    padding-bottom: 32px;
   }
   .p-24-m{
    padding: 24px;
   }
   .pr-8-m{
    padding-right: 8px;
  }
   
}
@media(max-width: 576px){
   .py-32-s{
    padding: 32px 0;
   }
   .py-13-s{
    padding: 13px 0;
   }
   .py-12-s{
    padding: 12px 0;
   }
   .pd-12-s{
    padding: 0 12px;
   }
}
.my-64{
  margin: 64px 0;
}
.mt-64 {
  margin-top: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}
.mt-48{
  margin-top: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}

.m-48 {
  margin: 48px 0;
}
.mr-48{
  margin-right: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}
.mr40{
  margin-right: 40px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mt-24{
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-0 {
  margin-right: 0 auto;
}

.mr-8 {
  margin-right: 8px;
}
.ml-0{
  margin-left: auto;
}
@media(max-width: 767px){
   .mb-32-m{
    margin-bottom: 32px;
} 
  .mb-24-m{
    margin-bottom: 24px;
} 
  .mb-16-m{
    margin-bottom: 16px;
} 
.mb-12-m{
  margin-bottom: 12px;
}
.mb-0-m{
  margin: 0;
}
.mr-8-m{
  margin-right: 8px;
}
}
@media(max-width: 576px){
  .mb-8-s{
    margin-bottom: 8px;
} 
.mb-4-s{
    margin-bottom: 4px;

}
.md-12-s{
  margin: 0 12px;
}
.mr-16-s{
    margin-right: 16px;
}
.mr-0-s{
    margin-right: 0;
}
}
/* 框線 */
.quote {
  border-radius: 12px;
  text-align: center;
}
@media(max-width: 767px){
  .quote{
    text-align: left;
  }
}

.bottom-line {
  border-bottom: 1px solid var(--Neutral-300);
}

.span1 {
  border-left: 1px solid var(--Neutral-900);
  padding-left: 8px;
}

.span2 {

  border-left: 3px solid var(--Neutral-300);
  padding-left: 12px;
}

footer {
  background-color: #F8F9FA;
  background-size: cover;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #6c757d;
  padding: 64px 0;
}
.cop{
   color: var(--Neutral-600); 
   font-family: Noto Sans TC;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 4px;
}
