/*顏色*/
:root {
  --Primary-100: #F5FEE7;
  --Primary-200: #E8FEC5;
  --Primary-300: #C0FA73;
  --Primary-400: #57A203;
  --Neutral-0: #FFFFFF;
  --Neutral-100: #F8F9FA;
  --Neutral-300: #DEE2E6;
  --Neutral-500: #ADB5BD;
  --Neutral-600: #6C757D;
  --Neutral-900: #212529;
  --Functional-Danger-300: #D74F4F;
}