<<<<<<< HEAD
<div class="bg-primary-200 d-flex justify-center align-center  ">
        <p class="h4 pr-24 h5-s  mr-16-s">加入會員取得 9 折優惠</p>
        <button type="button" class="btn1">馬上註冊</button>
    </div>
<footer class=" py-64 py-32-s"> 
      <div class="container ">

        <nav class=" mb-24 d-flex align-center justify-between bottom-line d-block-s quote">
            <a  href="index.html">
            <img class="mb-8-s" src="https://pichu999.github.io/products/img/logo.svg" alt="logo">
            </a>
            
                <ul class=" d-flex d-block-s py-12-s pd-12-s ">
                    <li><a class="mr40 py-40 ml-0  my-8-m py-12-s  mb-4-s word"  href="allproduct.html" class="py-12">商品列表</a> </li>
                    <li><a class="py-40 py-12-s mb-32-m mr-0 mb-4-s word" href="story.html" class="py-12">品牌故事</a></li>
                </ul>
                
       

        </nav>
        <div >
            <p class="cop pt-32">Copyright ©2025 URBNSTYLE</p></br>
            <p class="cop">All Rights Reserved.</p>
        </div>
      </div> 
    </footer>
=======
<footer class="footer">footer</footer>
>>>>>>> aebd192 (first commit)
