.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  
}
.header {
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;  
  padding: 289px 200px 288px 0;
  position: relative;
}
/* .person{
    display: block;
   margin-left: auto;
    
} */

h1{
    
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: white;
}
h2{
  
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}
/* 定位在左上角 */
.position{
    position: relative;
}
.box1{
    position: absolute;
    top: 0;
    left:30;
    background-color: var(--Primary-100);
    color: var(--Primary-400);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.word{
    color: white;
}
.word1{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #ADB5BD;

}
.btn-g{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: var(--Primary-300);
    color:var(--neutral-900);
}

.mt-48{
    margin-top: 48px;
}
.ml-0{
    margin-left: auto;
}
.mr-0{
    margin-right: auto;
}
.pb-32{
    padding-bottom: 32px;
}
.pb-16{
    padding-bottom: 16px;
}
.pd-64{
    padding: 64px 0;
}
.pd-48{
    padding: 48px 0;
}

text{
    text-align: center;
    

}
.wrap{
    flex-wrap: wrap;
}

.banner{
    background-image: url("banner-co-branded.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 48px 0;
}
.menu1{
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
}

.word-align{
    text-align: center;
}
.box2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color:white;
}
 

 .column-gap-8{
    column-gap: 8px;
 }
 .row-gap-8{
    row-gap: 8px;
 }
 .column{
    display: flex;
    flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
img {
  max-width: 100%;
  min-width: 0;
  display: block;
  object-fit: cover;
}


.col-4-i{

    width:calc(100%/12*4);
}
.col-8-i{
  
    width:calc(100%/12*8);
}
