.slash+.slash::before{
    content: "/";
    padding:  0 12px;
    color: var(--Neutral-300);
    font-weight:700;
}
.slash{
    display: flex;
    font-weight: 500;
}
.brand-link{
    color: var(--Neutral-600);
}    
@media(max-width: 767px){
  .slash+.slash::before{
    padding: 0 8px;
  }
  .slash{
    font-size: 14px;
  }
}
.list{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
} 