<<<<<<< HEAD
.cop{
   color: var(--Neutral-600); 
   font-family: Noto Sans TC;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 4px;
}
=======
.footer{
  background: #69F0AE;
  font-size: 64px;
}
>>>>>>> aebd192 (first commit)
