
.container1 {
  max-width: 856px;
  margin: 0 auto;
  padding: 0 12px;
}
.header {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 152px 0;
}

.img2 {
  max-width: 1076px;
  margin: 0 -110px;
}

.doc{
    list-style-type:disc ;
    }
.bi {
  padding-right: 8px;
  vertical-align: bottom;
}
.story {
  font-size: 16px;
  line-height: 1.5;
 
  text-decoration: underline;
}


@media(max-width: 767px){
    /* .container{
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding: 0 12px; 
  } */
  .header{
    padding: 87px 0;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true");
    max-width: 100%;
  max-width: 100%;
  vertical-align: middle;
  }
  img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
  .img2{
    width: 100% ;
    max-width: 100%;
  height: auto;
  margin: 0 ;
  vertical-align: middle;
  }
  .word{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
}
