<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="Urben  header-position text-left">
        <h1 class="mb-16 text-size-m">URBNSTEP</h1>
        <p class="h3 text-white ">Your Step, Your Statement</p>
        <button type="button" class="btn-g mt-48">立即選購</button>
    </div>
    <main class="container">
        
        <div class="d-flex mb-32 mt-64">
            <h2 class="text">New Arrival
                <br><span class="h2 ">新品上市</span>
            </h2>
            

        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div>
                        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true" alt="Monoverse" class="mb-12"></a>
                        <h3 class="h6 mb-4 mb-8-m mb-0-m">Monoverse</h3>
                        <p>NT$3,600</p>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true" alt="PLATFORM 404" class="mb-12"></a>
                        <h3 class="h6 mb-4 mb-8-m mb-0-m">PLATFORM 404</h3>
                        <p>NT$2,600</p>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true" alt="URBN Force" class="mb-12"></a>
                        <h3 class="h6 mb-4 mb-8-m mb-0-m">URBN Force</h3>
                        <p>NT$3,200</p>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true" alt="Mode90" class="mb-12"></a>
                        <h3 class="h6 mb-4 mb-8-m mb-0-m">Mode90</h3>
                        <p>NT$4,000</p>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </main>
    <div class=" mt-64">
        <div class="pd-64">

            <h3 class="h2 pb-16">熱銷補貨</h3>
            <div class="col-12">
    
                <div class="row maybelike-row">
        
                    <div class="col-3 position maybelike-list">
                        <a href="#"><p class=" box1">人氣 No.1</p><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt=""></a>
                    </div>
                    <div class="col-3  position maybelike-list">
                        <a href="#"><p class=" box1">人氣 No.1</p><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-11.png?raw=true" alt=""></a>
                    </div>
                    <div class="col-3  position maybelike-list">
                        <a href="#"><p class=" box1">人氣 No.1</p><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt=""></a>
                    </div>
                    <div class="col-3  position maybelike-list">
                        <a href="#"><p class=" box1">人氣 No.1</p><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt=""></a>
                    </div>
                </div>
        </div>
        </div>
        

        

    </div>
    <div class="banner position pd-48 py-24-m">
        <h2 class="mb-16 word-white h2-m d-flex-m flex-column-m gap-8-m">URBNSTEP<span class="h1 text-p300 py-24 h3-m ">x</span> Kevin Chen</h2>
        <p class="h2 word-white pb-32 h5-m">跨界聯名，限量發售</p>
        <p class="h5 h6-m text-n500 d-flex-m flex-column-m gap-4-m pd-12-s">新銳漫畫家 Kevin Chen 親自操刀設計<span class="d-none-m">，</span>街頭能量全面引爆！</p>
        <button type="button" class="btn-g mt-48">立即搶購</button>
        <img class=". star-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week3-4/star.svg" alt="star">
        <img class="sparkle-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week3-4/sparkle.svg" alt="sparkle">
    </div>
    <div>
        <div class="container">
            <div class="pd-64">

                <h3 class="h2 pb-16">依系列選購</h3>
                <div class="col-12 col-4-m">
                    <div class="row row-m">
                        <div class="col-3 col-2-m mb-12-m">
                          <div class="position">

                            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt=""></a>
                            <div class="box2">
                                <p class="h4 h6-m">URBN RUNNER</p><br>
                                <p class="h3 h6-m">慢跑系列</p>
                            </div>
                          </div>  
                        </div>
                         <div class="col-3 col-2-m mb-12-m">
                          <div class="position">

                            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-11.png?raw=true" alt=""></a>
                            <div class="box2">
                                <p class="h4 h6-m">STREETMODE</p><br>
                                <p class="h3 h6-m">滑板系列</p>
                            </div>
                          </div>  
                        </div>
                         <div class="col-3 col-2-m">  
                          <div class="position">
                            
                            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt=""></a>
                            <div class="box2">
                                <p class="h4 h6-m">CHUNK DISTRICT</p><br>
                                <p class="h3 h6-m">厚底系列</p>
                            </div>
                          </div>
                        </div>
                         <div class="col-3  col-2-m">  
                          <div class="position">
                            
                            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-10.png?raw=true" alt=""></a>
                            <div class="box2">
                                <p class="h4 h6-m">COLLAB ZONE</p><br>
                                <p class="h3 h6-m">慢跑系列</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="container mb-64">
            <h3 class="h2 pb-16">穿搭靈感</h3>
            <div class="d-flex column-gap-8 maybelike-row py-40-s">
                <div class="d-flex column row-gap-8 col-8-i pr-12 ">
                   <div class="d-flex flex-grow-1 column-gap-8">
                        <img class="maybelike-list" src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img1.png?raw=true" alt="穿搭1" />
                        <img class="maybelike-list" src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-2.png?raw=true" alt="穿搭2" />
                        <img class="maybelike-list" src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-3.png?raw=true" alt="穿搭3" />
                        <img class="maybelike-list" src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-4.png?raw=true" alt="穿搭4" />
                   </div>
                   <div class="d-flex column-gap-8 d-none-m">
                        <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-6.png?raw=true" alt="穿搭5" />
                   
                        <div class="d-flex column row-gap-8 ">
                            <div class="d-flex column-gap-8">
                                <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-7.png?raw=true" alt="穿搭7" />
                                <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-8.png?raw=true" alt="穿搭8" />
                            </div>
                   
                            <div class="d-flex column row-gap-8 ">
                                <div class="d-flex column-gap-8">
                                    <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-9.png?raw=true" alt="穿搭9" />
                                    <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-10.png?raw=true" alt="穿搭6" />
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
                <div class="d-flex column  row-gap-8 col-4-i pl--12 d-none-m">
                    <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-5.png?raw=true" alt="穿搭10" />
                
                    <div class="d-flex  column-gap-8 d-none-m">
                        <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-11.png?raw=true" alt="穿搭11" />
                        <img src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-12.png?raw=true" alt="穿搭12" />
                    </div>
                </div>
        </div>
    </div>
     </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
