.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
    
} 
@media(max-width: 576px){
  .btn{
    padding: 8px 16px;
  }
    .word{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
}
.page .active{     
     background-color: var(--Primary-300);
}
.page .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.bg-primary-200{
    background-color: var(--Primary-200);
    height: 96px;
}
.btn1{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: var(--Neutral-900);
    color:white;
} 
.active{
  color: var(--Primary-400);
}